.container__finder {
    text-align: center;
}

.d-flex.flex-row {
    width: 830px;
    /* place-content: flex-end; */
}

.container__finder__inputs {
    display: flex;
    justify-content: center;
    display: inline-flex;
}

div#contenedorTabla {
    display: flex;
    margin-top: 4rem;
}

.table td, .table th {
    text-align: left;
}


.container__col1.mr-2 {
    opacity: .5;
}
.container__col2 > *:not(:last-child) {
    opacity: .5;
}
form#miFormulario {
    gap: 5px;
}
select#inputGroupSelect01 {
    width: 200px;
    border-radius: 4px;
}
button#buscarButtonForm {
    height: 38px;
    padding: 6px 40px;
}

input#NombreDelCliente {
    width: 277px;
    border-radius: 4px;
}
.input-group-text{
    border-top-right-radius: 0.0rem!important;
    border-bottom-right-radius: 0.0rem!important;   
}